@import '../../consts.scss';

.widgetInOutComesGraph {
    width: 580px; /* Widget width */
    padding: 20px; /* Consistent padding */
    box-sizing: border-box; /* Include padding in dimensions */
    border-radius: 20px; /* Rounded corners */
    background-color: $avr-background-color; /* Darker background */
    font-family: 'Inter', sans-serif; /* Inter font */
    font-size: 20px; /* Font size */
  
    color: white; /* White text for visibility */
}

/* Header Styles */
h3 {
    margin: 0; /* Remove default margin */
    font-weight: 400; /* Font weight for consistency */
    color: white; /* White text */
}

/* Top Row Styles */

.top-row2{
    display: flex;
    justify-content: space-between; /* Space between selectors */
    align-items: center; /* Align items vertically */
   
    // padding-bottom: 10px; /* Padding for spacing */
    margin-bottom: 10px; /* Space below the row */
}

/* Divider Styles */
.divider2 {
    border: none;
    border-bottom: 2px solid white; /* Solid white divider */
}

/* Graph Container Styles */
.graph-container2 {
    position: relative; /* Relative positioning for layout */
    height: 228.4px; /* Set a smaller height for the graph */
    margin-bottom: 20px;
    canvas{
        margin-top: -30px !important;
    }
}
